<!DOCTYPE html>
<html lang="en">
<head>
  <title> To Do List </title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="./index.css">

</head>
<body ng-app="app">
<div ng-controller="todoDir">
  <h1>To-Do List</h1>
  <div class="container-fluid">
    <form class="row justify-content-center">
      <div class="col-12">
        <label class="form-label" for="todo">Todo</label>
        <input id="todo" class="form-control" type="text" ng-model="selectedContent">
      </div>
      <button class="btn btn-warning col-3" ng-click="create()">Create</button>
      <button class="btn btn-light col-3" ng-click="put(selectedId)">Update</button>
    </form>
    <div class="row border-bottom border-black align-items-center justify-content-around pb-1">
      <div class="col-3">To-Do</div>
      <div class="col-3">Status</div>
      <div class="col-3">Action</div>
    </div>

    <div class="row border-bottom border-black align-items-center justify-content-around pb-1" ng-repeat="(id, todo) in database">
      <div class="col-3">{{todo.content}}</div>
      <div class="col-3">{{todo.status}}</div>
      <div class="col-3">
        <button class="btn btn-info" ng-click="update(todo)">Select</button>
        <button class="btn btn-danger" ng-click="delete(todo.id)">Complete</button>
      </div>
    </div>


  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js" type="text/javascript" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="./index.js" type="text/javascript" defer></script>
</body>
</html>